.icons-view-categories-list {
    background-color: shade(@theme_bg_color, 0.99);
}

.command-category-widget {
    color: @theme_fg_color;
}

.overlay-with-bg {
    background-color: @theme_bg_color;
}

.frame-overlay-top {
    border-top-style: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.programview-search-box {
    padding: 2px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right-style: none;
}

.scenes-box {
    margin: 10px;
}

.scenes-box>flowboxchild {
    border-radius: 5px;
    padding: 5px;
    min-height: 40px;
}